h1,h2{
    text-align: center;
    font-size: 40;
}
div.me{
    padding-inline: 90px;
    background: linear-gradient(180deg, #afdfff 50%, #ffffff 50%);    margin: 10px;
    position: relative;
    top: 25%;
    left: 18%;
    width: 70px;
    float: left;
    height: 50px;
    display: flex;
    
}
body{
    background-color: gainsboro;
}
p{
    display: flex;
    justify-content: center;
    align-items: center;
}
span{
    display: flex;
    justify-content: center;
    align-items: center;
}
#mine{
display: flex;
margin-right: 20px;
}